<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Receitinhas | Aplicação desenvolvida por alunos da Etec Cidade do Livro
    </p>

    <p class="lead">Copyright 2021 Etec Cidade do Livro</p>
    <p class="lead">Somos uma empresa multinacional fundada em 2014.</p>
    <p class="lead">Começamos com 2 cozinheiras e 1 empresaria, e atualmente contamos com mais de 3.000 funcionários, juntamente com mais 6 filiais espalhadas pelo Brasil.</p>
    <p class="lead">
      Especializada no ramo alimentício, RECEITINHAS conta agora com esse site, feito especialmente para você que adorq comer ou cozinhar!</p>
  </section>
