<br>

  <section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <i class="fa fa-home"></i>

                      <h3 class="box-title ml-3 mb-3 text-md-center">{{receitas?.nome}}</h3><span class="pull-right"><i class="fa fa-star"></i></span>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <div class="col-sm-3 col-xs-12" *ngIf="receitas">
                        <img class="box-img-detail" [src]="receitas?.imagePath" />
                      </div>

                      <dl class="col-sm-9 col-xs-12">
                        <br>
                        <dt>RECEITA</dt>
                        <dt class="mt-3 mb-3 ml-3">Ingredientes:</dt>

                        <ul>
                          <li *ngFor="let ing of receitas.ingredientes">{{ing}}</li>
                        </ul>

                        <dt class="mt-5 mb-3 ml-3">Modo de Preparo:</dt>

                        <ul>
                          <li *ngFor="let modP of receitas.modo_preparo">{{modP}}</li>
                        </ul>
                      </dl>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <!-- /.col-xs-12 -->

            </div>


            <div class="row">
              <br>
          </div>
        </div>
    </div>

  </section>
