<div>
    <dl class="col-sm-9 col-xs-12 ml-3">
    <dd>-Aqueça a água em uma panela, abaixe o fogo e acrescente a margarina e o açúcar; </dd>
    <dd>-Mexa bem, até dissolver toda a margarina;</dd>
    <dd>-Acrescente aos poucos a farinha de trigo, mexendo sempre, até que a massa desprenda da panela;</dd>
    <dd>-Tire do fogo e acrescente os ovos um a um, mexendo bem até misturar toda a massa;</dd>
    <dd>-A seguir, coloque a massa num saco de confeiteiro com o bico em formato de pitanga, ou na forma própria para churros;</dd>
    <dd>-Aperte, já dentro da frigideira com o óleo quente, o tamanho fica a seu critério, corte com a ponta dos dedos ou com uma faca;</dd>  
    <dd>-Depois de frito, coloque em papel toalha para que absorva a gordura;</dd>
    <dd>-açúcar e canela misturados para passar os churros depois de fritos;</dd>
    <dd>-Em seguida, passe pelo açúcar com canela e recheie com doce de leite usando o bico que já vem junto com a forma.
    </dd>
    </dl>  
</div>
